
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;

}
/* banner related style */
  .banner-container{
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin-top: 50px;
    margin-left: 115px;
    background-image: linear-gradient(to right,black,transparent),url(./Images/BannerImage.png);
  }
  .banner-text{
    width: 632px;
    height: 246px;
    padding: 177px 364px 177px 324px;
    
  }
  .banner-text h5{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
  }
  .banner-text h3{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
  }
   
   /* group02 related style */

   #group02{
    width: 856px;
    height: 730px;
    margin-top:50px;
    margin-left: 379px;
    position: relative;
   }

   .group02-heading{
    width: 408px;
    height: 80px;
    margin-left: 224px;
   }

   .group02-heading h3{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size:50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   }


   .groupo2-text{
    width: 437.116px;
    height: 106.706px;
    margin-left: 209.5px;
    margin-top:5px;
   

    }

   .groupo2-text p{
    width: 423.256px;
    height: 30.043px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    
    font-weight: 500;
    

   }

   .groupo2-text h4{
    width: 437.116px;
    height: 60.087px;
    
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    
    font-weight: 700;
   
   }
   .groupo2-text img{
   width: 488px;
   height: 408px;
   }

#group03{
  width: 1320px;
  height: 600px;
  margin-left: 120px;
  background-image: linear-gradient(to right,black,transparent),url(./Images/Vectorrr.png);
}
.second-img{
  width: 320px;
  height: 465px;
  
  margin-left: 902px;
  padding-top: 0.01px;
  background: rgba(105, 11, 2, 1), rgba(143, 73, 65, 1), rgba(177, 128, 121, 1), rgba(205, 173, 168, 1), rgba(227, 209, 205, 1), rgba(242, 234, 231, 1), rgba(252, 250, 246, 1), rgba(255, 255, 252, 1);
}

.frame{
  display: flex;
  width: 319.83px;
  height: 464.662px;
  padding: 68px 67px 902px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  
}
.group03-text{w
  idth: 674.1px;
  height: 176px;
  margin-top: -338px;
  margin-left: 100px;
  }
.group03-text h4{
  width: 674.1px;
  color: #FFF;
  font-family: Merriweather;
  font-size: 50px;
  
  font-weight: 900;
  line-height: 66px;
  letter-spacing: 7.04px;
  margin-top: 5px;
}

.group03-text p{
  width: 680px;
  padding-top: 20px;
  color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}

.btn{
  padding-top: 40px;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
background-color: transparent;
color: #FFF;
border: none;

}

#vactor{
  width: 1320px;
  height: 382px;
  margin-top: 50px;
  margin-left: 120px;
  border-radius: 8px;
 background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);;
}

.group04{
  width: 576px;
  height: 272px;
}

.group04-text{
  width: 576px;
  height: 168px;
  padding-top: 100px;
  padding-left: 404.25px;
  padding-right: 405.3px;
 

}
.group04-text p{
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  }


.group04-text span{
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; 
  text-transform: capitalize;
}
.btn2{
  width: 133px;
  height: 50px;
  margin-left: 223px;
  margin-top: 20px;
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  font-weight: 900;
  background-color: blue;
  color: #FFF;
  border: none;
  border-radius: 16px;
 
}